<div class="container">
    <div class="jumbotron text-white bg-xtradark">
        <h1 class="display-4 font-brand">Hi {{user.username}},</h1>
        <p class="lead">Today is a great day it create a playlist.</p>
        <hr class="my-4">
        <!--Post title-->
        <div class="form-group">
            <input type="text" class="form-control" id="post-title" placeholder="Playlist Title">
        </div>
        <!--text area-->
        <div class="form-group">
            <textarea class="form-control" id="text-area" rows="5" placeholder="List your playlist here."></textarea>
        </div>
        </form>
        <a class="btn btn-dark btn-lg pull-right font-subtitle" href="#" role="button">Post Playlist</a>
    </div>
</div>