<footer class="footer bg-medium w-100 d-flex justify-content-between align-items-center">
    <div class="p-4">
        <div class="footer-links p-0 font-block">
            <a class="h4 mr-1 text-random text-decoration-none" href="/playlists">Home</a>
            <a class="h4 mr-1 text-random text-decoration-none" href="/">About</a>
            <a class="h4 mr-1 text-random text-decoration-none" href="https://github.com/PeterBaker644/Mixtape">Bugs</a>
            <a class="h4 mr-1 text-random text-decoration-none" href="/signup">Register</a>
        </div>
        <h1 class="m-0 font-comment">Mixtape &copy; 2020</h1>
    </div>

    <div class="p-4">
        <a class="bg-dark p-3 ml-1 text-random icon-div" href="https://www.facebook.com"><i class="fa fa-fw icon-larger fa-facebook"></i></a>
        <a class="bg-dark p-3 ml-1 text-random icon-div" href="https://www.twitter.com"><i class="fa fa-fw icon-larger fa-twitter"></i></a>
        <a class="bg-dark p-3 ml-1 text-random icon-div" href="htpps://www.linkedin.com"><i class="fa fa-fw icon-larger fa-linkedin"></i></a>
        <a class="bg-dark p-3 ml-1 text-random icon-div href="https://github.com/PeterBaker644/Mixtape"><i class="fa fa-fw icon-larger fa-github"></i></a>
    </div>


</footer>