<footer class="footer bg-medium w-100 pt-4 fl-text">
    <div class="footer-right">
        <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="htpps://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/PeterBaker644/Mixtape"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links text-white p-0 fl-text">
            <a class="link-1" href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="test-createuser.html">Register</a>
        </p>
        <p class="m-0">Mixtape &copy; 2020</p>
    </div>
</footer>