<div class="container">
    <h1>Hi {{user.username}}!</h1>

    <ul class="list-group">
        {{#each playlists}}
            {{> playlist}}
        {{/each}}
    </ul>

    <script type="text/javascript" src="/assets/js/profile.js"></script>
</div>