{{#if isAuthenticated}}
    {{> header-user}}
{{else}}
    {{!-- {{> header-login}} --}}
{{/if}}

<div class="container mb-4">
    <div class="accordion" id="accordionExample">
        {{#each playlists}}
            {{> playlist}}
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="/assets/js/profile.js"></script>
